@using TravelWebSite.Models
@model List<Blog>
<div class="con-bot">
	@foreach (var x in Model)
	{
		<div class="left">
			<div class="bot-left">
				<img src="~/images/pic.jpg" alt="" />
			</div>
			<div class="left-text">
				<h4>@x.Title</h4>
				<span class="doller">@x.DateT.ToString("dd.MM.yyyy")</span>
				<p>@x.Description.Substring(0,2)</p>
				<p><a href="/Blog/BlogDetails/@x.ID"><span class="read">Read More >></span></a></p>
			</div>
		</div>
	}
	@Html.Partial("Partial2", Model)
	<div class="clear"></div>
</div>
