@using TravelWebSite.Models;
@model List<About>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
	<div class="wrap">
		<div class="about">
			<h3>About</h3>
			@foreach (var x in Model)
			{
				<img src="@x.ImageUrl" />
				<p>@x.Description </p>
			}

		</div>
	</div>
</div>